
<div class="container" *ngIf='playlistList$ | async as playlistList'>
    <h1>My Playlists</h1>
    <div class="playlist" *ngFor="let playlist of playlistList; let id = index" (click)="goToOwnedList(playlist.id)">
        {{playlist.name}}
        <button class="btn remove" (click)="removePlaylist(id);$event.stopPropagation()">Remove</button>
        <hr class="solid">
    </div>
    <button class="btn btn-primary" >Add playlist</button>
</div>

<div class = "footer">
    <app-footer></app-footer>
    </div>