<div class="modal-header">
      <h4 class="modal-title">{{movie.title}}</h4>
      <span class="badge rounded-pill bg-warning text-dark">{{movie.runtimeStr}}
      </span>
  

  <button type="button" class="btn-close btn-sm" (click)="activeModal.dismiss('Cross click')">
  </button>

</div>
<div class="modal-body">
  <div class="row">

    <div class="col-md-auto">
      <img [src]="movie.image">
    </div>
    <div class="col">
      <div class="d-flex w-100 justify-content-between">
        <!-- <h5 class="mb-1 fw-bold"><a [routerLink]="['/movies', movie.id]">{{movie.title}}</a></h5> -->
        <h5 class="mb-1 fw-bold">{{movie.fullTitle}}</h5> <!-- Remove before finished project -->
      </div>
      {{movie.plot}}
      <div><small *ngIf="movie.year"><span class="movieParam">Type:</span> {{movie.type}}</small></div>
      <div><small *ngIf="movie.year"><span class="movieParam">Genres:</span> {{movie.genres}}</small></div>
      <div><small *ngIf="movie.year"><span class="movieParam">ReleaseDate:</span> {{movie.releaseDate}}</small></div>
      <div><small *ngIf="movie.year"><span class="movieParam">Directed</span> by {{movie.directors}}</small></div>
      <div><small *ngIf="movie.year"><span class="movieParam">Written</span> by {{movie.writers}}</small></div>
      <div><small *ngIf="movie.year"><span class="movieParam">Stars:</span> {{movie.stars}}</small></div>
      <div><small *ngIf="movie.year"><span class="movieParam">Awards:</span> {{movie.awards}}</small></div>
      <div><small *ngIf="movie.year"><a target="_blank" href="https://www.imdb.com/title/{{movie.id}}"> <span class="badge bg-info bg-dark">Find out more on IMDd</span> </a></small></div>

    </div>
  </div>
</div>

<div class="modal-footer">


  <!-- <button type="button" class="btn btn-outline-danger" style = "font-family: 'Roboto';">ADD TO PLAYLIST</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')" style = "font-family: 'Roboto';">Close</button> -->

  
  <div class="form-check form-switch mt-1 float-left" *ngIf="auth.isAuthenticated$ | async" > <!---->
    <input class="form-check-input" type="checkbox" [(ngModel)]="isPlaylist" >
    <label class="form-check-label">Add to playlist</label>
  </div>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>

      <div class="input-group mb-3" *ngIf="isPlaylist  && (auth.isAuthenticated$ | async)"><!---->
        <select  class="form-select" [(ngModel)]="selectedPlaylistId">
          <option [ngValue]="0" selected value="0">Choose playlist...</option>
          <option *ngFor="let playlist of userPlaylist" [ngValue]="playlist.id">{{playlist.name}}</option>
        </select>
        <div class="input-group-append">
          <button [disabled]="selectedPlaylistId === 0" class="btn btn-outline-primary" type="button" id="button-addon2" (click)="addToPlaylist(); activeModal.close('Close click')">Add to playlist</button>
        </div>
      </div>
      


</div>