<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div *ngIf="auth.user$ | async as user" (onload)="getUserDetailsFromDB()">
<div class="container-fluid">
  <div class="row">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example"/>

        <button (click)="test()">test buttn</button>
        <div class="image-container">
        <img align="left" [src]="url ? url : user.picture" class=""> <br/>
        <input type='file' (change)="onSelectFile($event)" class="select-profile-picture">
        <span class="message">Tap here to select your picture</span>
        </div>

        <div class="fb-profile-text">
            <h1>{{username}}</h1>
            
        </div>
    </div>
  </div>
</div> <!-- /container fluid-->  
<div class="container">
  <div class="col-sm-8">

      <div data-spy="scroll" class="tabbable-panel">
        <div class="tabbable-line">
          <ul class="nav nav-tabs ">
            <li class="active">
              <a href="#tab_default_1" data-toggle="tab">
              About me </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab_default_1">
              here will be user bio
              {{user.bio}}
              
              <div class="row" *ngIf="profileJson">
                <pre class="col-12 text-light bg-dark p-4">{{ profileJson }}</pre>
              </div>
           
            </div>
              <div class="tab-pane" id="tab_default_3">
                </div>
                  <div class="tab-pane" id="tab_default_4">
                      <div class="col-sm-6">
                      </div>
                  </div>
                </div>
              </div>
            </div>
  
  </div>
  <div class="col-sm-4">
   <div class="panel panel-default">
    <div class="menu_title">
       Account details
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                 <div class="form-group">
                     <label for="email">Email: </label>
                      <p> {{user.email}}</p>
                 </div>
                  <div class="form-group">
                      <label for="email">Last update:</label>
                      <p> {{user.updated_at}}</p>
                  </div>
                  <div class="form-group">
                      <label for="email">Email verified:</label>
                      <p> {{user.email_verified}}</p>
                  </div>
            </div>
        </div>
    </div>
</div>
  </div>

</div>
</div>



  Get Public Message
<!-- 
TESTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT


<div>
  <input type="file" (change)="onFileChanged($event)">

  <img [src]="imgURL" height="200" *ngIf="imgURL">
</div>

<input type="button" (click)="onUpload()" value="upload">

<hr />

Received Image:

{{ receivedImageData['pic'] | json}}
<img [src]="convertedImage" > -->