<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>





        <div class="fb-profile-text">
            <h1>{{username}}</h1>
        </div>

 
<div class="container">
  <div class="col-sm-8">


<section class="section about-section gray-bg" id="about" *ngIf="auth.user$ | async as user" (onload)="getUserDetails(userDetails)">
  <div class="container">
      <div class="row align-items-center flex-row-reverse">
          <div class="col-lg-6">
              <div class="about-text go-to">
                  <h3 class="dark-color">About Me</h3>
                  <div>
                <input #bioInput type='text' accept="text" (change)="updateBio(bioInput)" class="bio">
                <br/>
                  <p class="message">{{bio}}</p>
                </div>
                  <div class="row about-list">
                      <div class="col-md-6">
                      </div>
                      <div class="col-md-6">
                          <div class="media">
                              <label>E-mail</label>
                              <p>{{user.email}}</p>
                          </div>
                          <div class="media">
                              <label>Verified:</label>
                              <p>{{user.email_verified}}</p>
                          </div>
                          <div class="media">
                              <label>Last update </label>
                              <p>{{user.updated_at}}</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="about-avatar" >
                  <img [src]="img ? img : 'https://bootdey.com/img/Content/avatar/avatar7.png'" title="" alt="">
                  
                  <input #imageInput type='file' accept="image/*" (change)="processFile(imageInput, userDetails.email)" class="select-profile-picture">
                  <span class="message">Tap here to select your picture</span>
              </div>
          </div>
      </div>
      <div class="counter">
          <div class="row">
              <div class="col-6 col-lg-3">
                  <div class="count-data text-center">
                      <h6 class="count h2" data-to="500" data-speed="500">500</h6>
                      <p class="m-0px font-w-600">Happy Clients</p>
                  </div>
              </div>
              <div class="col-6 col-lg-3">
                  <div class="count-data text-center">
                      <h6 class="count h2" data-to="150" data-speed="150">150</h6>
                      <p class="m-0px font-w-600">Project Completed</p>
                  </div>
              </div>
              <div class="col-6 col-lg-3">
                  <div class="count-data text-center">
                      <h6 class="count h2" data-to="850" data-speed="850">850</h6>
                      <p class="m-0px font-w-600">Photo Capture</p>
                  </div>
              </div>
              <div class="col-6 col-lg-3">
                  <div class="count-data text-center">
                      <h6 class="count h2" data-to="190" data-speed="190">190</h6>
                      <p class="m-0px font-w-600">Telephonic Talk</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


</div>
</div>

<div class = "footer">
  <app-footer></app-footer>
  </div>



