img{
    max-width: 100%;
    max-height: 100%;
    display: block; 
    width:60px;

}

a {
    font-family: 'Roboto';
    text-decoration: none;
    cursor: pointer;
    color:#354855;
}

a:hover {
    text-decoration: none;
    color: darkgray
}

aColor:hover {
    color:darkgray;
}
